@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 80px;
    overflow: hidden;
}

.hero {
    background-image: linear-gradient(-225deg, #31a3c5 0%, #9ae2c2 100%);
    color: #fff;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "nav"
        "content";
    min-height: 50vh;
}

.nav {
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;
}

.nav__list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.nav__link {
    color: #fff;
    text-decoration: none;
}

.nav__logo {
    font-size: 1.8rem;
    font-weight: 300;
}

.nav__menu {
    display: none;
}

.nav__icon {
    width: 30px;
}


/* hero main */

.hero__main {
    grid-area: content;
    display: grid;
    gap: 2em;
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero__waves {
    grid-area: content;
    align-self: end;
}

.hero__title {
    padding-bottom: 50px;
    font-size: 3.9rem;
    word-spacing: 10px;
    letter-spacing: 2px;
    margin-left: 50px;
}

.hero__subtitle {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 100px;
    max-width: 400px;
    margin-left: 50px;
}

.hero__cta {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    padding: 15px 60px;
    border: none;
    border-radius: 20px;
    display: inline-block;
    font-weight: 500;
    background-color: #FFD241;
    transition: background-color .3s;
    margin: 15px;
    align-content: center;
}

#btn_info {
    margin-left: 60px;
    align-content: center;
}

.hero__cta:hover {
    background-color: #ffb923;
    color: #fff;
}

.hero__img {
    width: 100%;
    max-width: 500px;
}

.hero__picture {
    grid-row: 1/2;
}

@media (max-width : 1298px) {
    #btn_info {
        margin-left: 10px;
        align-self: center;
    }

    #btn_register {
        margin-left: 50px;
    }

    #btn_ingres {
        margin-left: 70px;
    }
}

@media (max-width :800px) {
    .nav__list {
        display: none;
    }

    .nav__menu {
        display: block;
    }

    .hero__main {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        text-align: center;
    }

    .hero__picture {
        grid-row: 1/2;
    }

    .hero__img {
        max-width: 200px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    #btn_info {
        align-self: center;
        margin-left: 60px;
    }

    #btn_ingres {
        margin-left: 50px;
    }
}
